.vscode
*.swp
*.swap
*.retry
.venv
*.vault_password
*vault_password
*.terraform
.terraform.lock.hcl
**/.terraform/*
.venv
crash.log
collections
*ansible.log
ansible/roles/*
!ansible/roles/autofs
!ansible/roles/hxr.galaxy-nonreproducible-tools
!ansible/roles/hxr.install-to-venv
!ansible/roles/hxr.postgres-connection
!ansible/roles/nfs_server
!ansible/roles/usegalaxy-eu.bashrc
!ansible/roles/usegalaxy-eu.error-pages
!ansible/roles/usegalaxy-eu.log-cleaner
!ansible/roles/usegalaxy-eu.logrotate
!ansible/roles/usegalaxy-eu.tours
!ansible/roles/usegalaxy-eu.webhooks
!ansible/roles/usegalaxy-eu.fix-galaxy-server-dir
!ansible/roles/htcondor_client
!ansible/roles/usegalaxy-eu.rsync-to-nfs
