<?xml version="1.0"?>
<object_store type="distributed" id="primary" order="0">
    <backends search_for_missing="false">
        <backend id="files1" type="disk" weight="0" store_by="id">
            <badges>
                <more_stable />
                <not_backed_up />
            </badges>
            <files_dir path="/data/galaxy_data/galaxy_db/files"/>
            <extra_dir type="temp" path="/data/galaxy_data/galaxy_db/tmp"/>
            <extra_dir type="job_work" path="/local/jwd01/main"/>
        </backend>
        <backend id="files2" type="disk" weight="4" store_by="id">
            <badges>
                <more_stable />
                <not_backed_up />
            </badges>
            <files_dir path="/data/galaxy_data/galaxy_db/files"/>
            <extra_dir type="temp" path="/data/galaxy_data/galaxy_db/tmp"/>
            <extra_dir type="job_work" path="/data/twd01/main"/>
        </backend>
    </backends>
</object_store>
