map $http_upgrade $connection_upgrade {
	default upgrade;
	''      close;
}

upstream galaxy {
	{% for n in range(galaxy_systemd_gunicorns) %}
    	server unix:{{ galaxy_mutable_data_dir }}/{{ galaxy_systemd_gunicorn_socket_name }}_{{ n }}.sock;
	{% endfor %}
}

server {
	listen        *:443 ssl default_server;
	server_name   "{{ inventory_hostname }}";

    error_page 404 /404.html;
	error_page 502 /502.html;
	error_page 503 /503.html;
	error_page 504 /503.html;

    location /404.html {
		root /usr/share/nginx/html;
		internal;
	}
	location /502.html {
		root /usr/share/nginx/html;
		internal;
	}
	location /503.html {
		root /usr/share/nginx/html;
		internal;
	}
	location /504.html {
		root /usr/share/nginx/html;
		internal;
	}

    client_body_buffer_size 1024m;
	access_log  syslog:server=unix:/dev/log;
	error_log   syslog:server=unix:/dev/log;

	location / {
		# This is the backend to send the requests to.
		proxy_pass http://galaxy;
		proxy_set_header Host $http_host;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header Upgrade $http_upgrade;
	}

	location /static {
		alias {{ galaxy_server_dir }}/static;
		expires 24h;
	}

	location /static/welcome.html {
		alias {{ galaxy_server_dir }}/static/welcome.html.sample;
		expires 24h;
	}

	# serve visualization and interactive environment plugin static content
	location ~ ^/plugins/(?<plug_type>[^/]+?)/((?<vis_d>[^/_]*)_?)?(?<vis_name>[^/]*?)/static/(?<static_file>.*?)$ {
		alias {{ galaxy_config_dir }}/plugins/$plug_type/;
		try_files $vis_d/${vis_d}_${vis_name}/static/$static_file
		          $vis_d/static/$static_file =404;
	}

	location /robots.txt {
		alias {{ galaxy_server_dir }}/static/robots.txt;
	}

	location /favicon.ico {
		alias {{ galaxy_server_dir }}/static/favicon.ico;
	}
}