---
hostname: "{{ inventory_hostname }}"

# Role: usegalaxy_eu.handy.os_setup
enable_hostname: true
enable_powertools: true
enable_remap_user: true
enable_create_user: true
handy_users:
  - user_name: rabbitmq
    user_uid: 999
    user_group: rabbitmq
    user_comment: "RabbitMQ useraccount"
handy_groups:
  - group_name: rabbitmq
    group_gid: 999

# Certbot
certbot_admin_email: sanjaysrikakulam@gmail.com
certbot_agree_tos: --agree-tos
certbot_auth_method: --webroot
certbot_auto_renew: true
certbot_auto_renew_user: root
certbot_auto_renew_hour: "{{ 23 | random(seed=inventory_hostname) }}"
certbot_auto_renew_minute: "{{ 59 | random(seed=inventory_hostname) }}"
certbot_domains:
  - "{{ hostname }}"
certbot_environment: "production"
certbot_install_method: virtualenv
certbot_share_key_users:
  - nginx
  - rabbitmq

certbot_post_renewal: |
  systemctl restart nginx || true
  systemctl restart docker || true
certbot_virtualenv_package_name: python3-virtualenv
certbot_virtualenv_command: "python3.8 -m venv"
certbot_well_known_root: /srv/nginx/_well-known_root

# NGINX
nginx_enable_default_server: false
nginx_servers:
  - redirect-ssl
nginx_ssl_servers:
  - mq-ssl
nginx_remove_default_vhost: true

# Nginx Letsencrypt bindings
nginx_ssl_role: usegalaxy-eu.certbot
nginx_conf_ssl_certificate: /etc/ssl/certs/fullchain.pem
nginx_conf_ssl_certificate_key: /etc/ssl/user/privkey-nginx.pem

# RabbitMQ
rabbitmq_users:
  - user: mqadmin
    password: "{{ rabbitmq_password_admin }}"
    tags: administrator
    vhost: /
  - user: galaxy
    password: "{{ rabbitmq_password_galaxy }}"
    vhost: galaxy
  - user: flower
    password: "{{ rabbitmq_password_flower }}"
    tags: administrator
    vhost: galaxy
  - user: galaxy_egi01
    password: "{{ rabbitmq_password_galaxy_egi01 }}"
    vhost: /pulsar/galaxy_egi01

rabbitmq_plugins:
  - rabbitmq_management

rabbitmq_config:
  listeners:
    tcp: none
  ssl_listeners:
    default: 5671
  ssl_options:
    cacertfile: /etc/ssl/certs/fullchain.pem
    certfile: /etc/ssl/certs/cert.pem
    keyfile: /etc/ssl/user/privkey-rabbitmq.pem
    verify: verify_peer
    fail_if_no_peer_cert: "false"
  management_agent:
    disable_metrics_collector: "false"
  management:
    disable_stats: "false"
  consumer_timeout: 21600000 # 6 hours in milliseconds

rabbitmq_container:
  name: rabbit_hole
  image: rabbitmq:3.9.11
  hostname: "{{ inventory_hostname }}"

# Redis
redis_port: 6379
redis_bind_interface: 0.0.0.0
redis_rdbcompression: "yes"
redis_dbfilename: dump.rdb
redis_dbdir: /var/lib/redis
redis_loglevel: "notice"
redis_logfile: /var/log/redis/redis-server.log
redis_conf_path: /etc/redis
redis_requirepass: "{{ redis_requirepass }}"
