ETC = /etc/condor
CONDOR_HOST = {{ condor_host }}
ALLOW_WRITE = {{ condor_allow_write }}
ALLOW_READ = $(ALLOW_WRITE)
ALLOW_ADMINISTRATOR = {{ condor_allow_administrator }}
ALLOW_NEGOTIATOR = $(ALLOW_ADMINISTRATOR)
ALLOW_CONFIG = $(ALLOW_ADMINISTRATOR)
ALLOW_DAEMON = $(ALLOW_ADMINISTRATOR)
ALLOW_OWNER = $(ALLOW_ADMINISTRATOR)
ALLOW_CLIENT = *
DAEMON_LIST = MASTER, STARTD
FILESYSTEM_DOMAIN = {{ condor_fs_domain }}
UID_DOMAIN = {{ condor_uid_domain }}
TRUST_UID_DOMAIN = True
SOFT_UID_DOMAIN = True
CLAIM_PARTITIONABLE_LEFTOVERS = True
NUM_SLOTS = 1
NUM_SLOTS_TYPE_1 = 1
SLOT_TYPE_1 = 100%
SLOT_TYPE_1_PARTITIONABLE = True
ALLOW_PSLOT_PREEMPTION = False
STARTD.PROPORTIONAL_SWAP_ASSIGNMENT = True
MASTER_UPDATE_INTERVAL = 150
UPDATE_INTERVAL = 120
GalaxyGroup = "{{ condor_galaxy_group }}"
GalaxyDockerHack = {{ condor_galaxy_docker_hack }}
STARTD_ATTRS = GalaxyGroup, GalaxyDockerHack
Rank = StringListMember(MY.GalaxyGroup, TARGET.Group)
BASE_CGROUP = /system.slice/condor.service
CGROUP_MEMORY_LIMIT_POLICY = soft
RESERVED_MEMORY = 1024